@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,700);


$blue: hsl(246, 80%, 60%);
$lightorange: hsl(15, 100%, 70%);
$softblue: hsl(195, 74%, 62%);
$lightred: hsl(348, 100%, 68%);
$limegreen: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$softorange: hsl(43, 84%, 65%);
$verydarkblue: hsl(226, 43%, 10%);
$darkblue: hsl(235, 46%, 20%);
$desaturatedblue: hsl(235, 45%, 61%);
$paleblue: hsl(236, 100%, 87%);
$fontfamily: 'Rubik';
$fontWeightNormal: 300;
$fontWeightHeavy: 400;
$fontWeightBold: 700;
$titleFontSize: 20px;
$subtitleFontSize: 16px;
$profileNameFontSize: 50px;
$metricFontSize: 55px;